* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(navbg1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px; 
    padding: 80px; 
    box-sizing: border-box;
    background: linear-gradient(rgba(41, 101, 136, 0.8), rgba(255, 255, 255, 0.969));
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1); 
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
}
.logo-wrapper {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 150px; 
    width: auto;
    margin-right: -50px;
}

.logo-text {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
    color: #1A4D5F;
    position: relative;
    top: -12px;
}

.logo-text span {
    font-weight: 400;
}

    .nav-links {
    display: flex;
    list-style: none;
    gap: 90px;
    align-items: center;
    margin-right: -80px;
    font-size: 20px;
}

    .nav-links a {
    background-image: linear-gradient(#49919B, #49919B);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .5s;
    text-decoration: none;
    color: black;
}
    .nav-links a:hover {
    background-size: 100% 2px;
    color: #316b88;
    }

.google{
    background-color: #49919b53; 
    width: 500px;
    padding: 40px;            
    border-radius: 12px; 
    margin-top: 80px;     
    margin-left: 200px;  
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    text-decoration: none;      
}
.google img{
    width:400px;
    margin-bottom: 20px;
}
.google h2{
    display: flex;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     color: #1A4D5F;
}
.google:hover{
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.572);
transform: translateY(-50px);
cursor: pointer;
}

.seo{
    background-color: #49919b53; 
    width: 500px;
    padding: 40px;            
    border-radius: 12px; 
    margin-top: -150px;
    margin-left:1000px;  
    transition: transform 0.3s ease, box-shadow 0.3s ease;  
}
.seo img{
    width:400px;
    margin-bottom: 20px;
}
.seo h2{
    display: flex;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     color: #1A4D5F;
}
.seo:hover{
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.572);
transform: translateY(-50px);
cursor: pointer;
}

.discord{
    background-color: #49919b53; 
    width: 500px;
    padding: 40px;            
    border-radius: 12px; 
    margin-left:200px; 
    margin-top: -100px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;  
}
.discord img{
    width:400px;
    margin-bottom: 20px;
}
.discord h2{
    display: flex;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1A4D5F;
}
.discord:hover{
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.572);
transform: translateY(-50px);
cursor: pointer;
}

.Marketing{
    background-color: #49919b53; 
    width: 500px;
    padding: 40px;            
    border-radius: 12px; 
    margin-top: -120px;
    margin-left:1000px;  
    transition: transform 0.3s ease, box-shadow 0.3s ease;  

}
.Marketing img{
    width:400px;
    margin-bottom: 20px;
}
.Marketing h2{
    display: flex;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     color: #1A4D5F;
}
.Marketing:hover{
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.572);
transform: translateY(-50px);
cursor: pointer;
}

.social{
    background-color: #49919b53; 
    width: 500px;
    padding: 40px;            
    border-radius: 12px; 
    margin-left:200px; 
    margin-top: -150px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}
.social img{
    width:400px;
    margin-bottom: 20px;
}
.social h2{
    display: flex;
    justify-content: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1A4D5F;
}
.social:hover{
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.572);
transform: translateY(-50px);
cursor: pointer;
}

.footer-container{
    margin-top: 50px;
    background-color:#1A4D5F;
    color: white;
    padding: 80px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
}
.footer-container h2{
    margin-bottom: 30px;
}

.GROWTH{
    font-weight: 1;
}

.footer-divider {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin: 20px 0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between; 
    align-items: center;          
    width: 100%;                   
    margin-top: 30px;
}

.legal-links {
    display: flex;
    gap: 40px; 
}

.legal-links a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: transform 0.3s ease
}

.legal-links a:hover{
    color: #49919B;
    transform: translateY(-5px);
    text-decoration: underline;
}